# Discord Bot Configuration
DISCORD_TOKEN=add-token-bot

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/rinbot

# Optional: MongoDB Atlas
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/rinbot

# Bot Settings
PREFIX=,
NODE_ENV=development
# Deploy Notification (Tùy chọn)
DEPLOY_WEBHOOK_ID=webhook id
DEPLOY_WEBHOOK_TOKEN=webhook token
DEPLOY_CHANNEL_ID=room id
# Optional: Logging
LOG_LEVEL=info 
DISCORD_OWNER_ID = 429078973562093569

